/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
*= require font-awesome
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap');

:root {
  --blue: #3778c2;
  --green: #5fb523;
  --gray: #434b54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('Proxima-Nova-Light.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('Proxima-Nova-Bold.ttf');
}

body {
  font-family: 'ProximaNovaLight', sans-serif;
}

.pg-title {
  font-family: 'ProximalNovaBold', sans-serif;
}

#cover {
  transition: 400ms;
  background-image: linear-gradient(to top, #3778c2, #7d96d1, #afb6e0, #dad9ef, #fff);
}

#cover-caption {
  z-index: 1;
}

#cover h1 {
  font-family: 'Lobster', cursive;
  color: var(--gray);
  font-weight: 400;
  padding-top: 35%;
}

.splash-form {
  margin-top: 55%;
}

.category-image {
  width: 60px;
  height: 60px;
}

.no-category {
  height: 35vh;
}

select {
  border: 1px solid #6c757d;
  border-radius: 5px;
  margin-bottom: 20px;
}

option {
  padding: 8px 5px;
  border-bottom: 1px solid var(--blue);
  margin: 5px;
  overflow: scroll;
  color: #6c757d;
}

.space {
  padding-bottom: 120px;
}
